@charset "utf-8";
/* 
	作者：leo
	日期：2014-4-28
	版本：2.0
*/
/*重置css*/
*{ font-family: "微软雅黑";}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
	outline: none;
}
a, a:link, a:visited {
	text-decoration: none;
}
/*头部*/
.topWrap {
	background:#20b4f1;
	background-size: 100% 53px;
	width: 100%;
	height: 48px;
	line-height: 48px;
	padding: 2px 0;
	max-width: 420px;
	margin: 0 auto;
	position: relative;
	z-index:0;
}
.title {
	font-size: 20px;
	font-family: "微软雅黑";
	color: #fff;
}
.topWrap a.poL{width: 15%;height: 53px;position: absolute;left: 0;top: 0;z-index: 111;}
.topWrap a.poR{width: 15%;height: 53px;position: absolute;right: 0;top: 0;z-index: 111;}
.topWrap h1 {position: absolute; z-index:-1; width:100%; text-align:center;}
/*logo*/
.logoGrid {
	height: 25px;
	margin-top: 12px;
	margin-left: 15px;
}
.logoGrid2 {
	height: 35px;
	margin-top: 8px;
	margin-right: 9px;
}
/*尾部*/

/*页脚*/
.footerWrap {
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
	padding: 0.2em 0;
	position: relative;
	background: #E8E3DC;
	padding: 1em 0;
}
.footerWrap:before, .ad-box:after {
	display: table;
	content: "";
}
.footerWrap:after {
	clear: both;
}
.footerWrap>nav {
	text-align: center;
	padding-bottom: .4em;
}
.footerWrap>nav>a {
	display: inline-block;
	padding: 0.4em 0.65em;
	color: #444444;
	font: 14px/1 "微软雅黑";
}
.footerWrap>p {
	text-align: center;
	padding: 0;
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
/* 图片轮播 */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe {
	margin: 0 auto;
	width: 100%;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}
.timu {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-indent: 11px;
	text-align: left;
	background: rgba(51,51,51,0.74);
	color: #D1D1D1;
}
/*位置指示结束*/
.news {
	width: 96%;
	padding: 15px 2%;
	border-bottom: 1px solid #e6e6e6;
	float: left;
	background: #f9f9f9;
}
.thumbnews {
	width: 120px;
	height: 90px;
	border: 1px solid #CCC;
}
.news a {
	color: #3c3c3c;
}
.news h1 {
	font-weight: 100;
	text-align: left;
	font-size: 18px;
	margin-bottom: 5px;
}
.news p {
	text-align: left;
	font-size: 14px;
	color: #999;
}
/*整站字体*/
body {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: normal;
	color: #555555;
	background: #e8e8e8;
}
/*整站布局*/
.containerWrap {
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
	text-align: center;
	background:#f8f8f8;
}
/*对齐*/
.floatL {
	float: left;
}
.floatR {
	float: right;
}
/*间距*/
.mt5 {
	margin-top: 5px;
}
.mr10 {
	margin-right: 10px;
}
.ml10 {
	margin-left: 10px;
}
.clearfix {
	clear: both;
}
.mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	opacity: 0;
}
